@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

main {
  max-width: 160rem;
  margin: 0 auto;
}

.login-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust this to your desired height */
  overflow: hidden;
}

.login-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    30deg,
    #061a53,
    #816db1 50%,
    #b48ac5 75%,
    #da92a9 87%
  );

  background-size: cover;
  background-position: center;
  z-index: -1;
}

.text-fade-in {
  animation: textFadeIn 125ms;
}

@keyframes textFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}